.base {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: red;
  justify-content: center;
  position: fixed;
}

.base > .centro:not(:first-child){
   display: none;
}

.centro{
  display: block;
  height: 100%;
  width: 80%;
  background-color: green;
  justify-content: center;
  align-items: stretch;
}

.colunas{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.seta-baixo{
  height: 30px;
  width: 30px;
  background-image: url("../img/icon/down.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  cursor: pointer;
}
